#nav1, #nav2, #nav3, #nav4 {
display:block;
    margin: 15% 0% 3% 0%;
    width: 10%;
    height: 10%;
    float:right;
    font-size:90%;
    padding:1%; 
    text-align:center;
}
a {
    text-decoration: none;
    color:#ffffff;
    font-family:sans-serif;
}
#nav1:hover, #nav2:hover, #nav3:hover, #nav4:hover {
    -ms-transform: scale(1.5,1.5); /* IE 9 */
    -webkit-transform: scale(1.5,1.5); /* Safari */
    transform: scale(1.5,1.5); /* Standard syntax */
    background-color:#ef6d3b;
   
}
body {
    background-color:#3f2860;
    font-size:16px;
    
}
#pageheader {
    clear:both;
    background-color:#ffffff;
 
}
h1 {
    padding:5%;
    clear:both;
    color:#90c5a9;
    font-family:sans-serif;
    text-align:center;
    font-size:150%;
}
#purple {
    color:#3f2860;
}
#orange {
    color:#ef6d3b;
}
#logo {
    float:left;
    width:15%;
    padding:2%;
}
p {
    color:#7a9a95;
    padding: 2% 5% 5% 5%;
    font-family:sans-serif;
}
#logo:hover {
    -ms-transform: scale(1.5,1.5); /* IE 9 */
    -webkit-transform: scale(1.5,1.5); /* Safari */
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out 0s;
}
footer{
    color:#ffffff;
    text-align: center;
    font-family:sans-serif;
    font-size:70%;
}
ul li {
    list-style-type: none;
    text-align: left;
    font-size:150%;
    
}
budget-list debt-listing savings-listing{
    padding: 2% 5% 5% 10%;
    
}
button {
    position:relative;
    text-align: left;
    margin:2% 1% 5% 5%;
}
button:hover {
    -ms-transform: scale(1.5,1.5); /* IE 9 */
    -webkit-transform: scale(1.5,1.5); /* Safari */
    transform: scale(1.5,1.5); /* Standard syntax */
}
nav div{
    max-width: 70%;
}
input {
    max-width: 80%;
}
@media	(max-width:480px){
    
    h1 {
        font-size:75%;
    } 
}